

.IcecreamCone {
  width: 0;
  height: 0;

  position: absolute;
  top: 25rem;
  margin-left:-14px;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-top: 9rem solid #a3803a;
}

.CherryTwo {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;

  position: absolute;
  left: 43%;
  top: 13rem;
  z-index: 2;

  border-radius: 50%;
  background-color: #E53935;
}

.CherryOne {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;

  position: absolute;
  left: 41%;
  top:18rem;
  z-index: 2;

  border-radius: 50%;
  background-color: #E53935;
}
.Sprinkle {
  height: 1rem;
  width: 0.25rem;

  z-index: 2;
  position: absolute;
  border-radius: 100vh;

  background-color: red;
}
  .Sprinkle:nth-of-type(1) {
    top: 23rem;
    left:31rem;
    transform: rotate(25deg);
  }

  .Sprinkle:nth-of-type(2) {
    top: 25rem;
    left: 32rem;

    background-color: #ffffff;
    transform: rotate(-25deg);
  }

  .Sprinkle:nth-of-type(3) {
    top: 24rem;
    left: 31rem;

    background-color: #FF9100;
    transform: rotate(35deg);
  }

  .Sprinkle:nth-of-type(4) {
    top: 25rem;
    left: 33rem;

    background-color: #03A9F4;
    transform: rotate(50deg);
  }

  .Sprinkle:nth-of-type(5) {
    top: 22rem;
    left: 30rem;

    background-color: #FF4081;
    transform: rotate(50deg);
  }

  .Sprinkle:nth-of-type(6) {
    top: 25rem;
    left: 31rem;

    background-color: #FFFF00;
    transform: rotate(100deg);
  }

  .Sprinkle:nth-of-type(7) {
    top: 23rem;
    left: 30rem;

    background-color: #8E24AA;
    transform: rotate(100deg);
  }

  .Sprinkle:nth-of-type(8) {
    top: 21rem;
    left: 30rem;

    background-color: #76FF03;
    transform: rotate(-100deg);
  }

  .Sprinkle:nth-of-type(9) {
    top: 25rem;
    left: 29rem;

    background-color: #F48FB1;
    transform: rotate(-100deg);
  }

  .Sprinkle:nth-of-type(10) {
    top: 22rem;
    left: 28rem;

    background-color: #F48FB1;
    transform: rotate(65deg);
  }


.Scoop {
  border-radius: 50%;
  width: 9rem;
  height: 8rem;
  margin-left: 0.01%;
}

.Scoop:nth-of-type(1) {
  position: relative;
  margin-top: 90%;
  z-index: 2;
}

.Scoop:nth-of-type(2) {
  position: relative;
  margin-top: -140%;
  z-index: 1;
}

.ChocolateScoop {
  background-color: #4e342e;
}

.StrawberryScoop {
  background-color:#FC5A8D;
}

.ScoopStraberrycircle{
    position: absolute;
    z-index: 1;
    bottom: .5rem;
    width: 3rem;
    height: 3rem;
  
    border-radius: 50%;
    background-color:#FC5A8D;
  }
  .ScoopStraberrycircle:nth-of-type(2) {
      left: -1rem;
    }

    .ScoopStraberrycircle:nth-of-type(3) {
      left: 1rem;
    }

    .ScoopStraberrycircle:nth-of-type(4) {
      left: 3rem;
    }

    .ScoopStraberrycircle:nth-of-type(5) {
      left: 5rem;
    }

    .ScoopStraberrycircle:nth-of-type(6) {
      left: 6rem;
    }

  .Circle {
    position: absolute;
    z-index: 1;
    bottom: .5rem;
    width: 3rem;
    height: 3rem;
  
    border-radius: 50%;
    background-color: #4e342e;
  }
    .Circle:nth-of-type(2) {
      left: -1rem;
    }

    .Circle:nth-of-type(3) {
      left: 1rem;
    }

    .Circle:nth-of-type(4) {
      left: 3rem;
    }

    .Circle:nth-of-type(5) {
      left: 5rem;
    }

    .Circle:nth-of-type(6) {
      left: 6rem;
    }
   
@media(min-width:500px) and (min-height:401px){
  .Icecream{
    width: 450px;
    height:400px;
  }
}

@media(min-width:1000px) and (min-height:700px){
  .Icecream{
    width:700px;
    height:600px;
  }
}
/*portrait mode*/
@media(min-width:500px) and (min-height:400px){
  .Icecream{
    width:350px;
    height:300px;
  }
}


